fastapi==0.121.1
uvicorn[standard]
pydantic
numpy
pandas
scikit-learn
requests
azure-storage-blob
gunicorn
streamlit==1.56.0
Pillow==10.4.0
torch
torchvision
segmentation-models-pytorch
python-multipart
